.card__container {
    width: 350px;
    height: 500px;
    position: relative;
    border: 3px solid #3e4357; 
    border-radius: 10px;

    display: flex;
    overflow: hidden; /* Evita que a imagem saia da caixa */
    margin-top: 10px;
}

.card__img {
    min-width: 100%;
    min-height: 100%;
    transition: transform .8s;
}

.card__img:hover {
    transform: scale(1.1);
}

