<div class="menu-bar__container">

    <div class="menu-bar__logo">
        <img src="assets/ps-logo.png" alt="logo PlayStation" width="140px" height="32px" />
    </div>

    <div class="menu-bar__item">
        <ul>
            <li><a href="https://www.linkedin.com/in/developergiovanesouza/" target="_blank">Linkedin</a></li>
            <li><a href="https://github.com/giovanesouza" target="_blank">Github</a></li>
            <li><a href="https://giovanesouza.github.io/portfolio/" target="_blank">Portfólio</a></li>
        </ul>
    </div>

</div>